In [1]:
#import

import pandas as pd

In [2]:
df_people_dd = pd.read_csv("dongdaemun_people.csv", skiprows=1, encoding="utf-8")
df_people_dd.drop(columns='동별(1)', axis=0, inplace=True)
df_people_dd.columns = ['지역', '인구 (명)', '면적 (㎢)', '인구밀도 (명/㎢)']
df_people_dd.loc[0] = ('서울동대문구', 359873, 14.22, 25315.00)

In [3]:
df_people_dj = pd.read_csv("dangjin_people.csv", skiprows=1, encoding="utf-8")
df_people_dj.columns = ['지역', '인구 (명)', '인구밀도 (명/㎢)', '면적 (㎢)']
df_people_dj.loc[0] = ('충남당진시', 174079, 238.48, 705.53)

In [4]:
df_people_merged = pd.concat([df_people_dd, df_people_dj], ignore_index=True)
df_people_merged = df_people_merged.reset_index(drop=True)

In [5]:
df_people_merged

       지역  인구 (명)  면적 (㎢)  인구밀도 (명/㎢)
0  서울동대문구  359873   14.22    25315.00
1   충남당진시  174079  705.53      238.48

In [6]:
df_crime = pd.read_csv("crime2023.csv", encoding='cp949')
df_crime = df_crime[['범죄중분류', '서울동대문구', '충남당진시']]

df_crime=df_crime.transpose()
df_crime = df_crime.rename(columns=df_crime.iloc[0])
df_crime = df_crime.drop(df_crime.index[0])

df_crime = df_crime[['살인기수', '강도', '강간', '절도범죄', '폭행']]
df_crime = df_crime.reset_index()

df_crime.columns = ['지역', '살인기수', '강도', '강간', '절도범죄', '폭행']

In [7]:
df_crime

       지역 살인기수 강도  강간  절도범죄   폭행
0  서울동대문구    2  4  36  1278  839
1   충남당진시    2  1  18   445  338

In [8]:
df_merged = pd.merge(df_people_merged, df_crime, on='지역', how='inner')

In [9]:
df_merged

       지역  인구 (명)  면적 (㎢)  인구밀도 (명/㎢) 살인기수 강도  강간  절도범죄   폭행
0  서울동대문구  359873   14.22    25315.00    2  4  36  1278  839
1   충남당진시  174079  705.53      238.48    2  1  18   445  338